@model JeanStationAPP.Models.Jeans

@{
    ViewBag.Title = "Edit Jeans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Jeans</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h4 class="card-title text-center">Edit Jeans</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <!-- Hidden field to store the JeansId -->
                        @Html.HiddenFor(model => model.JeansId)

                        <!-- Other fields for editing jeans -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.BrandId)
                            @Html.EditorFor(model => model.BrandId)
                            @Html.ValidationMessageFor(model => model.BrandId)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Type)
                            @Html.EditorFor(model => model.Type)
                            @Html.ValidationMessageFor(model => model.Type)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Color)
                            @Html.EditorFor(model => model.Color)
                            @Html.ValidationMessageFor(model => model.Color)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Size)
                            @Html.EditorFor(model => model.Size)
                            @Html.ValidationMessageFor(model => model.Size)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Stock)
                            @Html.EditorFor(model => model.Stock)
                            @Html.ValidationMessageFor(model => model.Stock)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.price)
                            @Html.EditorFor(model => model.price)
                            @Html.ValidationMessageFor(model => model.price)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ImageUrl)
                            @Html.EditorFor(model => model.ImageUrl)
                            @Html.ValidationMessageFor(model => model.ImageUrl)
                        </div>

                        <div class="form-group text-center">
                            <input type="submit" value="Save Changes" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="text-center mt-3">
    @Html.ActionLink("Back to List", "BrowseAllJeans1", new { @class = "btn btn-link" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}