@model JeanStationAPP.Models.Order

@{
    ViewBag.Title = "Order Details";
}

<h2>Order Details</h2>

<div class="card">
    <div class="card-header">
        <h4>Order ID: @Model.OrderId</h4>
    </div>
    <div class="card-body">
        <p><strong>Order Date:</strong> @Model.OrderDate</p>
        <p><strong>Order Status:</strong> @Model.OrderStatus</p>
        <p><strong>Payment Status:</strong> @Model.PaymentStatus</p>
        <p><strong>Total Amount:</strong> $@Model.Amount</p>
        <p><strong>Customer ID:</strong> @Model.CustomerId</p>

        <a href="@Url.Action("Index", "OrderItem", new { orderId = Model.OrderId })" class="btn btn-secondary mt-3">Order items</a>

    </div>
</div>



<a href="@Url.Action("Index", "Order", new { customerId = Model.CustomerId })" class="btn btn-secondary mt-3">Back to Orders</a>

