@model JeanStationAPP.Models.Customer

@{
    ViewBag.Title = "Update Customer";
}

<h2>Update Customer Details</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

@using (Html.BeginForm("UpdateCustomer", "Customer", FormMethod.Post))
{
    <
    <div class="form-group">
        @Html.LabelFor(model => model.CustomerName)
        @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CustomerName)
    </div>
    <input type="hidden" name="CustomerId" value="@Model.CustomerId" />
    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <input type="hidden" name="UserId" value="@Model.UserId" />
    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber)
        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PhoneNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Address)
        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Address)
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
}