@model List<JeanStationAPP.Models.PaymentDetails>

@{
    ViewBag.Title = "Payment Details";
}

<h2>Payment Details for Order @Request.QueryString["orderId"]</h2>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Payment ID</th>
                <th>Payment Date</th>
                <th>Amount</th>
                <th>Payment Method</th>
                <th>Payment Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var payment in Model)
            {
                <tr>
                    <td>@payment.PaymentId</td>
                    <td>@payment.PaymentDate.ToString("yyyy-MM-dd")</td>
                    <td>@payment.TotalAmount</td>
                    <td>@payment.PaymentMode</td>
                    <td>@payment.PaymentStatus</td>
                </tr>
            }
        </tbody>
    </table>
    <a href="@Url.Action("BrowseAllJeans", "Jeans")" class="btn btn-info btn-sm mt-2">Shop More!</a>
}
else
{
    <p>No payment details found for this order.</p>
}

