@model JeanStationAPP.Models.Shopkeeper

@{
    ViewBag.Title = "Edit Shopkeeper";
}

<h2>Edit Shopkeeper</h2>

@using (Html.BeginForm("EditShopkeeper", "Shopkeeper", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.ShopName)
        @Html.TextBoxFor(m => m.ShopName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ShopName, "", new { @class = "text-danger" })
    </div>
    <input type="hidden" name="cartId" value="@Model.ShopkeeperId" />
    <input type="hidden" name="cartId" value="@Model.Location" />
    <input type="hidden" name="cartId" value="@Model.UserId" />


    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        @Html.ActionLink("Cancel", "Dashboard", null, new { @class = "btn btn-secondary" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}